body {
  color: white;
  background-image: url('../assets/bg.jpg');
  background-size: auto;
  background-repeat: no-repeat;
}


.main_wrapper {
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.8);
}

.characterdisplay {
  display: flex;
  flex-direction: row;
}

.characterdisplay_lhs {
  height:400px;
  width: 50%;
}
.characterdisplay_rhs {
  height:400px;
  width:50%;
}
