@import url('https://fonts.googleapis.com/css?family=Exo+2');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  color: white;
  font-family: 'Exo 2', sans-serif;
  background-image: url('../assets/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.main_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_nav {
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  border-radius: 10px;
  width: 700px;
  padding-bottom: 10px;
}

.main_content {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characterdisplay {
  padding: 20px;
  display: grid;
  grid-template: 'lhs rhs corpimage'
                 'description description description';
  background-color: rgba(0,0,0,0.8);
  margin: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.characterdisplay img {
  border-radius: 10px;
  margin-right:20px;
}


.characterdisplay_lhs {
  grid-area: lhs;
  display: flex;
  align-items: center;
}

.characterdisplay_rhs {
  grid-area: rhs;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.characterdisplay_corpimage{
  grid-area: corpimage;
}

.description{
  grid-area: description;
  margin-top: 30px;
  border-style: solid;
  padding: 20px;
  overflow: hidden;
}

.description font{
  font-size: 12px; 
}

.description a {
  color: white;
}

